@using ProjectServer.Shared

@if (AbfParent is not null)
{
	<li class="my-1 lh-1">
		<a class="font-monospace px-1" style="background-color: @AbfParent.Color; color: blue;">
			@AbfParent.AbfID
		</a>
		<span class="font-monospace" style="color: #AAAAAA">(@AbfParent.ChildAbfPaths.Count())</span>
		<span>@AbfParent.Comment</span>
		@foreach (string tag in AbfParent.Tags)
		{
			<span class="badge rounded-pill text-bg-secondary mx-1">@tag</span>
		}
	</li>
}
else
{
	<li>loading ABF parent...</li>
}

@code {
	[Parameter]
	[EditorRequired]
	public AbfParent? AbfParent { get; set; } = null;
}
