<!-- 
	This component shows all child ABFs of the given ABF Parent as a list with "copy", "setpath", and "ignore" buttons.
	Optionally ABF information (protocol, seep count, comments, etc) can be obtained with individual HTTP requests.
-->

@using ProjectServer.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (AbfParent is not null)
{
	foreach (string abfPath in AbfParent.ChildAbfPaths)
	{
		<div class="px-2" style="font-size: .8em; line-height: 150%; padding: 2px; background-color: @GetBackgroundColor(abfPath);">
			<span class="font-monospace">@System.IO.Path.GetFileNameWithoutExtension(abfPath.Replace("\\", "/"))</span>
			<AbfListCopyButton Label="copy path" Data=@abfPath />
			<AbfListCopyButton Label="setpath" Data=@GetOriginSetpathCommand(abfPath) />
			<AbfListIgnoreButton AbfPath="sample abf path" />
			<span class="font-monospace">@GetProtocol(abfPath)</span>
			<span class="text-muted" style="font-family: 'Arial Narrow'">@GetSweepInfo(abfPath)</span>
			<span class="fw-bold">@GetComments(abfPath)</span>
		</div>
	}
}

@code {
	[Parameter]
	[EditorRequired]
	public AbfParent? AbfParent { get; set; } = null;

	[Parameter]
	public bool AutoLoadAbfInfo { get; set; } = true;

	protected override async Task OnParametersSetAsync()
	{
		if (AbfParent is null)
			return;

		if (!AutoLoadAbfInfo)
			return;

		foreach (string abfPath in AbfParent.ChildAbfPaths)
		{
			string url = NavigationManager.BaseUri + "AbfInfo?path=" + abfPath;
			AbfInfo? info = await Http.GetFromJsonAsync<AbfInfo>(url);
			if (info is not null)
			{
				AbfInfoByPath[abfPath] = info;
				StateHasChanged();
			}
		}
	}

	private string[] _abfPaths = Array.Empty<string>();

	private readonly Dictionary<string, AbfInfo> AbfInfoByPath = new();

	private string GetBackgroundColor(string abfPath)
	{
		if (AbfParent is null)
			return string.Empty;

		if (GetComments(abfPath).Length > 0)
			return "#fff8d7";

		return Array.IndexOf(AbfParent.ChildAbfPaths, abfPath) % 2 == 0 ? "#eeeeee" : "#e6e6e6";
	}

	private async Task UpdateAbfInfos()
	{
		if (AbfParent is null)
			return;

		foreach (string abfPath in AbfParent.ChildAbfPaths)
		{
			string url = NavigationManager.BaseUri + "AbfInfo?path=" + abfPath;
			AbfInfo? info = await Http.GetFromJsonAsync<AbfInfo>(url);
			if (info is not null)
			{
				AbfInfoByPath[abfPath] = info;
				StateHasChanged();
			}
		}
	}

	private string GetSweepInfo(string abfPath)
	{
		if (AbfInfoByPath.ContainsKey(abfPath))
		{
			int sweepCount = AbfInfoByPath[abfPath].SweepCount;
			double sweepLength = AbfInfoByPath[abfPath].SweepLengthSec;
			double totalSec = sweepCount * sweepLength;
			return $"{sweepCount} sweeps, {sweepLength} sec each, {totalSec} sec total";
		}
		else
		{
			return string.Empty;
		}
	}

	private string GetComments(string abfPath)
	{
		if (AbfInfoByPath.ContainsKey(abfPath))
		{
			return AbfInfoByPath[abfPath].Comments;
		}
		else
		{
			return string.Empty;
		}
	}

	private string GetProtocol(string abfPath)
	{
		if (AbfInfoByPath.ContainsKey(abfPath))
		{
			return AbfInfoByPath[abfPath].Protocol;
		}
		else
		{
			return string.Empty;
		}
	}

	private string GetOriginSetpathCommand(string abfPath)
	{
		return $"setpath \"{abfPath}\";";
	}
}
