@page "/AbfFolder"
@using ProjectServer.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Abf Folder</PageTitle>

<div class="p-2" style="background: #EEEEEE;">
	<div class="d-flex flex-row">
		<div>
			<div class="fw-bold lh-1" style="font-family: 'Arial Narrow';">Abf Folder Browser</div>

			<div class="font-monospace" style="font-size: .8em;">
				@foreach ((string name, string url) in GetSubFolderLinks(@Folder?.FolderPath))
				{
					<a href=@url style="color: blue;">@name</a><span style="opacity:.5;">/</span>
				}
			</div>

		</div>
		<div class="ms-2">
			<button class="btn btn-sm btn-outline-primary">Copy Path</button>
			<button class="btn btn-sm btn-outline-primary" @onclick="@LoadExperimentInfo">Experiment Notes</button>
		</div>
	</div>
</div>

@if (Folder is null)
{
	<div>path not yet set...</div>
}
else
{
	<div style="display: grid; grid-template-rows: auto; grid-template-columns: 250px auto;">

		<nav class="">

			<div class="ps-2" style="height: 100vh; overflow-x:hidden; overflow-y: auto;">
				@foreach (string group in Folder.AbfParents.SelectMany(x => x.Tags).Distinct().OrderBy(x => x))
				{
					<div class="py-2">
						<div class="lh-1" style="font-family: 'Arial Narrow'; font-weight: 600;">
							@group
						</div>
						@foreach (AbfParent parent in Folder.AbfParents.Where(x => x.Tags.Contains(group)))
						{
							<div style="font-size: .8em; line-height: 120%;">
								<!-- TODO: make link valid so it can be copied -->
								<a href="" class="font-monospace" style="background-color: @parent.Color; color: blue;" onclick=@(() => SelectParent(@parent.AbfID)) @onclick:preventDefault>
									@parent.AbfID
								</a>
								<span class="font-monospace" style="color: #AAAAAA">@parent.ChildAbfPaths.Count()</span>
								<span style="font-family: 'Arial Narrow'; color: #AAAAAA">@parent.Comment</span>
							</div>
						}
					</div>
				}
			</div>
		</nav>

		@if (SelectedParent is null)
		{
			<main class="px-2">
				<h3>Experiment Details</h3>
				<code>@Folder.FolderPath/experiment.txt</code>
				<pre>@Folder.ExperimentTxt</pre>
			</main>
		}
		else
		{
			<div>
				<AbfParentEditor AbfPath="@SelectedParent.AbfFilePath"
						 Color="@SelectedParent.Color"
						 Comment="@SelectedParent.Comment" />

				<AbfInfoTable AbfPaths="@SelectedParent.ChildAbfPaths" />

				@foreach (string imagePath in SelectedParent.ChildImagePaths)
				{
					<AnalysisThumbnail ImagePath=@imagePath />
				}
			</div>
		}
	</div>
}

@code {

	[Parameter]
	[SupplyParameterFromQuery(Name = "path")]
	public string? Path
	{
		get => _path;
		set
		{
			_path = value;
			LoadExperimentInfo();
		}
	}

	private string? _path = null;

	private string Status { get; set; } = "Loading...";

	private AbfFolder? Folder;

	private AbfParent? SelectedParent { get; set; } = null;

	protected override async Task OnParametersSetAsync()
	{
		Status = "Loading...";
		string apiUrl = NavigationManager.BaseUri + "api/AbfFolder?path=" + Path;
		Folder = await Http.GetFromJsonAsync<AbfFolder>(apiUrl);
		Status = "Loaded.";
	}

	private void LoadExperimentInfo()
	{
		SelectedParent = null;
		StateHasChanged();
	}

	private void SelectParent(string abfid)
	{
		if (Folder is not null)
		{
			foreach (AbfParent abfParent in Folder.AbfParents.Where(x => x.AbfID == abfid))
			{
				SelectedParent = abfParent;
				StateHasChanged();
				return;
			}
		}

		LoadExperimentInfo();
	}

	private (string, string)[] GetSubFolderLinks(string? path)
	{
		List<(string, string)> links = new();

		path = path?.Replace("\\", "/");
		while (!string.IsNullOrEmpty(path))
		{
			string folderName = System.IO.Path.GetFileName(path);
			string folderUrl = "AbfFolder?path=" + path.Replace("/", "\\");
			links.Insert(0, (folderName, folderUrl));
			path = System.IO.Path.GetDirectoryName(path) ?? string.Empty;
		}

		return links.ToArray();
	}
}
