@page "/amf"
@using ProjectServer.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Abf Multi-Folder Browser</PageTitle>

@if (Folder is null)
{
	<div>path required...</div>
}
else
{
	<div>
	</div>

	<div>
		<code>@Folder.FullPath</code>
	</div>

	<h3>SubFolders</h3>
	<ul>
		@foreach (string folderName in Folder.SubFolders)
		{
			<li>@folderName</li>
		}
	</ul>

	<h3>Cells (ABF Parents)</h3>
	<ul>
		@foreach (var parent in Folder.Parents)
		{
			<li>
				<span style="background-color: @parent.Color">@parent.AbfID</span>
				<span>(@parent.ChildAbfPaths.Count())</span>
				<span>@parent.Comment</span>
				@foreach (var tag in parent.Tags)
				{
					<span>[@tag]</span>
				}
			</li>
		}
	</ul>
}

@code {

	[Parameter]
	[SupplyParameterFromQuery(Name = "path")]
	public string? Path { get; set; }

	private string Status { get; set; } = "Loading...";

	private AbfMultiFolderInfo? Folder;

	protected override async Task OnInitializedAsync()
	{
	}

	protected override async Task OnParametersSetAsync()
	{
		Status = "Loading...";
		string apiUrl = NavigationManager.BaseUri + "AbfMultiFolder?path=" + Path;
		Folder = await Http.GetFromJsonAsync<AbfMultiFolderInfo>(apiUrl);
		Status = "";
	}
}
