<div style="font-size: .8em; line-height: 120%; white-space: @(Wrap ? "" : "nowrap");">

    <!-- selected arrow -->
    <span class="fw-bold font-monospace" style="visibility: @ArrowVisibility">»</span>

    <!-- headings -->
    @if (ShowHeading && !string.IsNullOrWhiteSpace(Parent.Header))
    {
        <div class="tag">@Parent.Header</div>
    }

    <!-- clickable AbfID -->
    <a href="" @onclick:preventDefault @onclick=SelectThisParent
       data-bs-toggle="modal" data-bs-target="#@ModalID"
       class="font-monospace" style="background-color: @Parent.Color; color: blue;">
        @Parent.AbfID
    </a>

    <!-- child count -->
    <div class="font-monospace d-inline-block me-1" style="color: #AAAAAA">@Parent.ChildAbfCount</div>

    <!-- tags -->
    @foreach (string tag in Parent.Tags)
    {
        <div class="tag">@tag</div>
    }

    <!-- comment -->
    @if (!string.IsNullOrWhiteSpace(Parent.Comment) && Parent.Comment != "?")
    {
        <span style="font-family: 'Arial Narrow'; color: #AAAAAA">@Parent.Comment</span>
    }

    @if (ClickOpensModal)
    {
        <div class="modal fade"
         id="@ModalID"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-hidden="true">

            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-bottom" style="background-color: @Parent.Color">
                        <h5 class="modal-title fw-bold">@Parent.AbfID</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body m-0 p-0">
                        @if (ModalHasBeenClicked)
                        {
                            <CellDetails Parent=Parent ShowHeader=false
                                 OnInfoChanged=CellDetailsChangedInModal />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public bool IsSelected { get; set; } = false;

    [Parameter, EditorRequired]
    public AbfParentInfo Parent { get; set; } = null!;

    [Parameter, EditorRequired]
    public bool ShowHeading { get; set; } = false;

    [Parameter, EditorRequired]
    public EventCallback<AbfParentInfo> OnSelected { get; set; }

    [Parameter]
    public bool Wrap { get; set; } = false;

    [Parameter]
    public bool ClickOpensModal { get; set; } = false;

    private bool ModalHasBeenClicked = false;

    private string ModalID => "modal_" + GetMD5(Parent.AbfID);

    private string ArrowVisibility => IsSelected ? "visible" : "hidden";

    private async Task SelectThisParent()
    {
        ModalHasBeenClicked = true;
        await OnSelected.InvokeAsync();
    }

    private void CellDetailsChangedInModal()
    {
        Parent.UpdateFromDisk();
    }

    private string GetMD5(string str)
    {
        byte[] bytes = System.Text.Encoding.ASCII.GetBytes(str);
        var md5 = System.Security.Cryptography.MD5.Create();
        return string.Join("", md5.ComputeHash(bytes).Select(x => x.ToString("x2")));
    }
}
